#page-container{
    position:relative;
    min-height: 100vh;
}



h1{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

h2{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
h4{
color:#FFCE00;
text-align: center;
}

h5{
    margin: 10px 0 0 0 ;
    text-align: center;
}

h6{
    text-align: center;
}

img{
    max-width:30%;
    min-width: 15%;
    float:left;

}

div.jumbotron.jumbotron-fluid{
    margin: auto;
    background-color:#091833;
    color:white;
}


.bodyframe1{
min-height:80vh;
}

form{
    max-width: 50%;
    float: left;
}


#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:1%;
    background-color: #1A355D;
    color:white;
}



#footerP{
    color:#FFCE00;
}

#footerText{
    padding:10px;
    text-align:center;
}

#donationDiv{
    margin:auto;
}

@media screen and (max-width: 400px) {
    #jumbotronH1 {
      display: none;
    }
  }

  @media screen and (min-width: 400px) {
    #jumbotronMobile {
      display: none;
    }
  }